<!doctype html>

<html lang="fr">

    <body>
        <script type="text/javascript" src="{{ path('ovesco_lotus_tracker') }}"></script>
        <script>
            console.log(window.lotus.query);
        </script>
    </body>
</html>
